@media(max-width: 1200px) {
  .header-logo,
  .header-logo:hover {
    font-size: 18px;
  }

  .numbers-wrap a {
    font-size: 18px;
  }

  .header-call-wrap {
    width: 175px;
  }

  .numbers-wrap::before {
    left: 0;
    background-size: contain;
    width: 70px;
    height: 70px;
  }

  .header-company-desc {
    padding: 7px 0 7px 20px;
    font-size: 12px;
  }

  h1 {
    font-size: 38px;
  }

  h2,
  h3 {
    font-size: 28px;
  }

  .h1-descr {
    font-size: 28px;
  }

  .header-bg-1 {
    left: 59%;
  }

  .tab-content-item {
    margin-bottom: 0;
  }

  .tab-content-item a {
    min-height: 275px;
  }

  .bottom-part-left-wrap span {
    font-size: 12px;
  }

  #section-1 .bottom-part-left-wrap::before {
    left: -250px;
  }

  .bottom-part-left-wrap img {
    margin-bottom: 70px;
  }

  #section-1::before {
    left: -200px;
  }

  #section-2 .white-wrap {
    margin-top: 0;
    height: 825px;
    padding-top: 90px;
  }

  .btn {
    font-size: 13px;
  }

  a.fancybox.fancybox-bottom-item {
    width: 28%;
  }

  .jobs-descr-item p.left {
    font-size: 14px;
  }

  .jobs-descr-item p.right {
    font-size: 12px;
  }

  .jobs-descr-wrap .btn {
    padding: 18px 18px 18px 60px;
  }

  .jobs-descr-item {
    margin-bottom: 10px;
  }

  #section-1 .white-wrap {
    padding-bottom: 125px;
  }

  .lines-wrap-img {
    display: none;
  }

  .house-wrap-img {
    position: relative;
    left: 0;
  }

  .advantages-list {
    position: relative;
    width: 60%;
    margin: 0 auto;
  }

  .advantages-wrap {
    margin-bottom: 0;
  }

  #section-3 .white-wrap {
    padding-top: 75px;
  }

  .prodaction-list li {
    font-size: 14px;
  }

  #section-3 .white-wrap {
    height: 650px;
  }

  .section-bottom-part .form-wrap {
    width: 400px;
  }

  #form-2 .btn {
    padding: 12px 28px 12px 58px;
  }

  .application-images-wrap .pattern {
    width: 370px;
    left: 100px;
    top: 90px;
  }

  /* .application-images-wrap .book {
    display: none;
  } */

  #section-4 .white-wrap {
    padding-top: 80px;
    height: 775px;
  }

  #section-4 h3 {
    margin-bottom: 15px;
  }

  .section-4 .white-wrap h2 {
    margin-bottom: 15px;
  }

  .section-4 .tabs-wrap {
    margin-bottom: 20px;
  }

  .tabs-content-wrap-descr {
    margin-bottom: 25px;
  }

  #section-4 .bottom-part-left-wrap::before {
    left: -300px;
    top: 270px;
  }

  #section-4::before {
    left: -10px;
  }

  footer .white-wrap {
    padding-top: 75px;
  }

  footer h3,
  footer h2 {
    margin-bottom: 20px;
  }

  footer .btn {
    padding: 12px 37px 12px 64px
  }

  footer .footer-numbers-item a {
    font-size: 15px;
    padding-top: 7px;
  }
footer .footer-numbers-item {
      margin-right: 0px;
    width: 49%;
}
  #map {
    height: 190px;
  }

  footer .white-wrap {
    height: 650px;
  }

  .footer-bottom p {
    font-size: 13px;
  }

  .tab-content-item img {
    margin-bottom: 15px;
  }

  .tab-content-item-descr {
    font-size: 10px;
  }

  #popup-form-3 .form-wrap {
    padding-top: 60px;
  }

  #tab-1 .tab-content-item,
  .tab-content-item a {
    min-height: 225px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    width: 130px;
    height: 130px;
    top: 8px;
    left: 10px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    width: 87px;
    height: 87px;
    top: 30px;
    left: 31px;
  }

  #section-4 .tab-content-item-descr {
    font-size: 10px;
  }

  .numbers-wrap span {
    margin-right: 10px;
  }

  footer::before {
    width: 190px;
    bottom: 60px;
  }
}

@media(max-width: 1080px) {
  h1::before {
    display: none;
  }
}

@media(max-width: 991px) {

  .numbers-wrap {
    margin-top: 0;
  }

  #section-4 #tab-4 .tab-content-item-descr {
    font-size: 12px;
  }

  #form-2 .btn {
    width: 225px;
  }

  .mobile {
    display: block;
  }

  .header-logo,
  .header-logo:hover {
    font-size: 16px;
  }

  .none {
    display: none;
  }

  .header-company-desc {
    font-size: 12px;
  }

  h1::before {
    left: 0;
  }

  .header-bg-1 {
    left: 72%;
    top: 320px;
  }

  h2,
  h3 {
    font-size: 18px;
  }

  footer h3,
  footer h2 {
    margin-bottom: 10px;
  }

  .tabs-wrap {
    margin-bottom: 20px;
  }

  .tabs-content-wrap-descr {
    margin-bottom: 20px;
    font-size: 14px;
  }

  #tab-1 .tab-content-item,
  .tab-content-item a {
    min-height: 190px;
  }

  .tab-content-item-descr {
    font-size: 10px;
  }

  #section-1 .white-wrap {
    padding-bottom: 70px;
    height: 910px;
    padding-top: 65px;
  }

  .tab-item {
    margin-right: 0;
  }

  #section-1 .form-wrap {
    margin-left: 0;
  }

  .section-bottom-part .form-wrap {
    width: 350px;
  }

  .form-wrap {
    padding: 80px 35px 80px 35px;
  }

  .form input {
    margin-bottom: 60px;
  }

  #section-1 .bottom-part-left-wrap::before {
    left: -415px;
  }

  .form .btn {
    padding: 15px 15px 15px 45px;
    margin-bottom: 38px;
    margin-left: 60px;
    font-size: 12px;
  }
  .form .btn::after {
    left: 13px;
  }

  #section-1::before {
    left: -550px;
    bottom: 80px;
  }
  #section-2 .white-wrap {
    margin-top: 0;
  }

  #section-2 .white-wrap {
    padding: 60px 30px 0;
  }

  .jobs-descr-item {
    margin-bottom: 7px;
  }

  .jobs-descr-item p.left {
    font-size: 12px;
    width: 35%;
  }

  .jobs-descr-item p.right {
    font-size: 10px;
    width: 65%;
  }

  .jobs-descr-wrap .btn {
    font-size: 12px;
    padding: 15px 15px 15px 50px;
  }
  .jobs-descr-wrap a.btn::after {
    left: 15px;
    background-size: contain;
    width: 21px;
    height: 20px;
  }

  .jobs-descr-wrap a.download-price {
    margin-right: 35px;
  }

  #section-2 .white-wrap {
    height: 625px;
  }

  a.fancybox.fancybox-bottom-item {
    width: 27%;
  }

  #section-2 .white-wrap::before {
    background-size: contain;
    width: 280px;
    bottom: -372px;
    z-index: 2;
    left: -105px
  }

  #section-3 .white-wrap {
    padding: 70px 45px 0;
  }

  .prodaction-list li::before {
    width: 30px;
    height: 29px;
    background-size: contain;
  }

  .prodaction-list li {
    margin-bottom: 15px;
    font-size: 12px;
  }

  #section-3 .btn-video-wrap::after {
    width: 60px;
    height: 60px;
    margin-left: -30px;
    margin-top: -30px;
  }

  #section-3 .btn-video-wrap::before {
    width: 125px;
    height: 125px;
  }

  #section-3 .btn-video-wrap {
    width: 125px;
    height: 125px;
  }

  #section-3 .white-wrap {
    height: 450px;
  }

  #section-3 .white-wrap::before {
    bottom: -300px;
    left: -250px;
  }

  .submit-application {
    font-size: 16px;
  }

  #section-3 .form input {
    margin-bottom: 35px;
  }

  #form-2 .btn {
    padding-left: 45px;
  }

  .application-images-wrap .book {
    width: 600px;
    left: 240px;
    top: -360px;
  }

  .application-images-wrap .pattern {
    width: 350px;
    left: 380px;
    top: -600px;
  }

  #section-3 {
    padding-bottom: 30px;
  }

  #section-4 {
    margin-top: -83px;
    padding-bottom: 440px;
  }

  .tab-content-item img {
    margin-bottom: 10px;
  }

  #section-4 .white-wrap {
    height: 595px;
  }

  #section-4 .bottom-part-left-wrap::before {
    left: -425px;
    top: 240px;
  }

  footer .white-wrap {
    padding: 55px 25px 0;
  }

  footer .footer-numbers-item {
    width: 47%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  footer .footer-numbers-item a {
    font-size: 12px;
  }

  .numbers-wrap::before {
    width: 62px;
    height: 62px;
    left: 13px;
  }

  footer .footer-numbers-item .social-icons {
    font-size: 15px;
  }

  #map {
    
    height: 270px;    
     width: 320px;    
     margin-left:-50px;  }

  footer .white-wrap {
    height: 495px;
  }

  .footer-bottom {
    padding: 0 40px 30px;
  }

  .numbers-wrap.left {
    float: none;
  }

  .tab-content-item a {
    min-height: 165px;
  }

  #section-1 h3 {
    margin-bottom: 25px;
  }

  #section-1 h2 {
    margin-bottom: 35px;
  }

  .bottom-part-left-wrap img {
    width: 28px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    width: 95px;
    height: 95px;
    top: 20px;
    left: 9px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    width: 66px;
    height: 66px;
    top: 35px;
    left: 25px;
  }

  #section-4 .tab-content-item-descr {
    font-size: 8px;
  }

  .numbers-wrap span {
    width: 60px;
    height: 60px;
  }

  .numbers-wrap span::before {
    width: 60px;
    height: 60px;
    background-size: contain;
  }

  .numbers-wrap span::after {
    display: none;
  }
}

@media(max-width: 768px) {
  .tab-item {
    margin-right: 0;
  }

  .tabs-content-wrap-descr {
    margin-bottom: 20px;
  }

  .numbers-wrap span {
    margin: -10px 0 0 0;
  }

  #section-4 .tabs-content-wrap-descr {
    margin-bottom: 15px;
  }

  .header-logo,
  .header-logo:hover {
    font-size: 13px;
  }

  #section-4 .white-wrap {
    padding-top: 60px;
  }

  #section-3 .white-wrap {
    padding: 70px 55px 0 45px;
  }

  .numbers-wrap::before {
    width: 47px;
    height: 47px;
  }

  .form input {
    width: 100%;
  }

  .form .btn {
    width: 85%;
    text-align: center;
  }

  .checkbox-container {
    margin-bottom: 40px;
  }

  #form-4 input {
    margin-bottom: 45px;
  }

  .form-head-descr::after,
  .form-head-descr::before {
    display: none;
  }

  .advantages-list {
    margin-bottom: 40px;
  }
}

@media (min-width: 568px) and (max-width: 736px) {
  .header-logo,
  .header-logo:hover {
    font-size: 14px;
  }

  .application-images-wrap .book {
    width: 720px;
    left: 126px;
    top: -468px;
  }

  .section-bottom-part .form-wrap {
    width: 320px;
    padding-top: 60px;
    margin: 0 0 40px -50px;
  }

  .section-bottom-part .btn {
    margin-left: 38px;
  }

  .section-bottom-part .btn::before {
    background-size: contain;
    width: 35px;
    height: 49px;
    top: 0px;
    left: -50px;
  }

  #section-1 .bottom-part-left-wrap::before {
    background-size: contain;
    top: 230px;
    left: -260px;
    width: 580px;
  }

  #section-2 {
    margin-top: 0;
  }

  .form input {
    margin-bottom: 35px;
  }

  .bottom-part-left-wrap img {
    width: 18px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    width: 70px;
    height: 70px;
    top: 23px;
    left: 3px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    width: 50px;
    height: 50px;
    top: 33px;
    left: 14px;
  }

  .bottom-part-left-wrap img {
    margin-bottom: 40px;
  }

  .bottom-part-left-wrap span {
    font-size: 10px;
  }

  #section-1 .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
  }

  .none-video {
    display: none;
  }

  .mobile-video {
    display: block;
  }

  .btn-video-wrap {
    float: none;
    margin: 0 auto 30px;
  }

  .header-company-desc {
    margin-top: -10px;
    margin-left: -35px;
  }

  .numbers-wrap span {
    margin-left: -30px;
  }

  .container {
    width: 550px;
  }

  .application-images-wrap .pattern {
    z-index: -1;
    width: 726px;
    left: 50%;
    transform: translateX(-50%);
    top: -760px;
  }

  .numbers-wrap.left {
    float: right;
    margin-top: -15px;
    margin-bottom: 20px;
  }

  .header-call-wrap.right {
    float: right;
  }

  h1 {
    padding-left: 0;
    font-size: 36px;
  }

  .header-top {
    margin-bottom: 35px;
  }

  .header-bg-1 {
    left: 103%;
    top: 485px;
  }

  .h1-descr {
    margin-bottom: 0;
    font-size: 22px;
  }

  header::before {
    bottom: 165px;
    right: -220px;
  }

  .btn-video-wrap {
    margin-top: 40px;
  }

  #section-1 {
    margin-top: -475px;
    padding-bottom: 0;
  }

  #section-1 .white-wrap,
  #section-2 .white-wrap,
  #section-3 .white-wrap,
  #section-4 .white-wrap,
  footer .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 30px 15px;
    margin-bottom: 40px;
  }

  #section-1 .white-wrap {
    height: 1680px;
  }

  #section-2 .white-wrap {
    height: 965px;
  }

  #section-3 .white-wrap {
    height: 640px;
  }

  #section-4 .white-wrap {
    height: 1560px;
  }

  footer .white-wrap {
    height: 660px;
  }

  #section-1 .tabs-content-wrap-descr {
    margin-bottom: 30px;
  }

  #section-1 .tab-item {
    margin-bottom: 10px;
    width: 49%;
  }

  #tab-1 .tab-content-item,
  .tab-content-item a {
    min-height: 280px;
  }

  #section-1 .tab-content-item-descr {
    font-size: 14px;
  }

  #section-1 .tab-content-item {
    margin-bottom: 15px;
  }

  .bottom-part-left-wrap::before {
    bottom: -2100px;
    left: -640px;
  }

  #section-1::before {
    bottom: 455px;
  }

  .fancybox-bottom-wrap {
    margin-bottom: 20px;
  }

  #section-2 .white-wrap::before {
    left: -160px;
  }

  .advantages-list {
    width: 80%;
  }

  #section-3 .white-wrap::before {
    left: -280px;
    bottom: -150px;
    z-index: -1;
  }

  #section-4 .tab-content-item {
    margin-bottom: 20px;
  }

  #section-4 .tab-item {
    margin-bottom: 20px;
    width: 49%;
  }

  #section-4 .bottom-part-left-wrap::before {
    left: -500px;
    top: 185px;
  }

  #section-4::before {
    bottom: 100px;
  }

  footer {
    margin-top: -100px;
  }

  .footer-bottom .left,
  .footer-bottom .right {
    float: none;
    text-align: center;
  }

  .footer-bottom p {
    margin-bottom: 10px;
  }

  .footer-bottom a {
    display: block;
    margin: 0 auto;
  }

  .precent {
    width: 55%;
  }

  .popup-video {
  	position: relative;
  	width: 400px;
  	height: 300px;
  }

  .page-info-wrap {
    margin-top: 4px;
  }

  .main-slider-wrap .slick-prev,
  .main-slider-wrap .slick-next {
    bottom: -35px;
  }

  footer::before {
    width: 100px;
    bottom: 80px;
  }
}

@media(max-width: 568px) {
  #section-1 .white-wrap,
  #section-2 .white-wrap,
  #section-3 .white-wrap,
  #section-4 .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
    margin-bottom: 50px;
  }
}

@media(max-width: 425px) {
  header {
    padding-top: 20px;
  }

  #section-2 {
    margin-top: -430px;
  }

  .none-video {
    display: none;
  }

  .mobile-video {
    display: block;
  }

  #section-1 h3,
  #section-4 h3 {
    margin-bottom: 10px;
  }

  .header-logo,
  .header-logo:hover {
    font-size: 9px;
    font-family: 'PlayfairDisplay-Regular';
    margin-left: -5px;
  }

  .numbers-wrap {
    padding-left: 0;
  }

  .numbers-wrap::before {
    width: 65px;
    height: 65px;
  }

  .header-top {
    margin-bottom: 90px;
  }

  .header-bg-1 {
    display: none;
  }

  .popup-video {
  	position: relative;
  	width: 90%;
  	height: 250px;
    margin: 0 auto;
  }

  h1 {
    font-size: 20px;
    margin-bottom: 15px;
  }

  h1::before {
    width: 15px;
    height: 4px;
  }

  .header-bottom:before {
    display: none;
  }

  .h1-descr {
    font-size: 18px;
    margin-bottom: 0;
  }

  .advantages-black-wrap-1 {
    width: 100%;
    padding: 105px 50px 65px 90px;
  }

  .advantages-black-wrap-1 li {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .advantages-black-wrap-1 li:first-child::before {
    width: 42px;
    height: 40px;
  }

  .advantages-black-wrap-1 li:nth-child(2)::before {
    width: 29px;
    height: 43px;
  }

  .advantages-black-wrap-1 li:last-child::before {
    width: 40px;
    height: 40px;
    top: 10px;
  }

  .btn {
    padding: 10px 20px 10px 55px;
  }

  header::before {
    bottom: 145px;
    z-index: 0;
  }

  .btn-video-wrap {
    margin: 40px auto 15px;
    float: none;
  }

  #section-1 {
    margin-top: -450px;
    padding-bottom: 440px;
  }

  #section-1 .white-wrap {
    padding: 10px 0 0;
    height: 1260px;
    background: #fff;
  }

  h2, h3 {
    font-size: 14px;
  }

  .tab-item {
    width: 49%;
    font-size: 10px;
    font-weight: 600;
    height: 40px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  .tabs-wrap {
    margin-bottom: 0;
  }

  .tabs-content-wrap-descr {
    margin-bottom: 20px;
  }

  .tab-content-first {
    padding: 25px 10px 0;
    overflow: hidden;
    padding-bottom: 20px;
  }

  #section-1 .tabs-content-wrap .btn {
    width: 100%;
    font-size: 8px;
    padding: 20px 5px 10px 65px;
    margin-left: 0;
  }

  #section-1 .tabs-content-wrap .btn::before {
    display: none;
  }

  .tab-content-item a {
    min-height: 180px;
  }

  .tabs-content-wrap {
    margin-bottom: 0;
  }

  #section-1 .tabs-content-wrap,
  #section-1 .tab-content-first {
    margin-bottom: 0;
  }

  .section-bottom-part .form-wrap {
    width: 100%;
    background-size: contain;
  }

  #section-1 .form-wrap,
  #section-4 .form-wrap {
    padding: 45px 21px 45px 25px;
    margin-top: 285px;
    width: 320px;
    margin-left: 2em
  }

  #section-1 .form input,
  #section-3 .form input {
    margin-bottom: 30px;
    width: 100%;
    padding-bottom: 0;
  }

  #section-1 .form-wrap .btn::before,
  #section-4 .form-wrap .btn::before {
    width: 30px;
    background-size: 30px;
  }

  #section-1 .btn::before,
  #section-4 .btn::before {
    top: 0px;
    left: -40px;
  }

  .form-head-descr {
    margin-bottom: 10px;
  }

  #section-1 .bottom-part-left-wrap::before,
  #section-4 .bottom-part-left-wrap::before {
    background-size: contain;
    width: 400px;
    left: 0;
    top: 200px;
    height: 250px;
  }

  #section-2 .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
  }

  #section-2 .white-wrap {
    padding: 15px 0;
  }

  #section-2 .white-wrap::before {
    display: none;
  }

  .main-slider-wrap img {
    width: 75%;
  }

  .fancybox.fancybox-top {
    text-align: center;
  }

  .fancybox-bottom-wrap {
    margin-bottom: 15px;
  }

  #section-2 h3 {
    margin-bottom: 10px;
  }

  #section-2 h2 {
    margin-bottom: 15px;
  }

  .jobs-descr-item p.left {
    width: 37%;
  }

  .jobs-descr-item p.right {
    width: 60%;
  }

  .jobs-descr-item {
    margin-bottom: 5px;
  }

  #section-2 .white-wrap {
    height: 765px;
  }

  .jobs-descr-wrap .btn {
    font-size: 10px;
  }

  .jobs-descr-wrap a.btn::before {
    background-size: contain;
    width: 43px;
    height: 32px;
    top: -4px;
    left: -45px
  }

  .jobs-descr-wrap a.download-price {
    margin-right: 15px;
    font-size: 12px;
  }

  #section-3 .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 25px 10px;
    height: 580px;
  }

  #section-3 .white-wrap::before {
    display: none;
  }

  .prodaction-list {
    margin-bottom: 30px;
  }

  #section-3 .form-wrap {
    padding: 40px 20px 80px 20px;
    margin-bottom: 415px;
  }

  #form-2 .btn {
    width: 96%;
  }

  #form-2 .file-upload > mark {
    margin-top: 10px;
    height: 26px;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  #section-3 .form-wrap h3 {
    font-size: 14px;
  }

  #form-2 .file-upload .button-file {
    height: 35px;
    line-height: 35px;
  }

  #form-2 .file-upload {
    height: 60px;
  }

  #section-3 .form span {
    margin: 0;
  }

  #section-3 .form input {
    margin-bottom: 30px;
  }

  .application-images-wrap .book {
    width: 600px;
    left: -50px;
    top: -399px;
  }

  #section-4 .tab-item {
    margin-bottom: 10px;
  }

  #section-4 .tab-content-first {
    border: 0;
  }

  #section-4 .white-wrap {
    height: 1185px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 25px 5px;
    margin-bottom: 50px;
  }

  .tab-content-item {
    margin-bottom: 20px;
  }

  #section-4 .form-wrap {
    padding: 50px 20px 0 20px;
  }

  #section-4 .form input {
    margin-bottom: 15px;
  }

  footer .white-wrap {
    background: #fff;
    border: 1px solid #e1e1e1;
    height: 900px;
    padding: 25px 10px;
    margin-top: -390px;
  }

  footer .footer-numbers-item {
    width: 100%;
  }

  footer .footer-numbers-item a {
    font-size: 18px;
  }

  footer .numbers-wrap {
    margin-bottom: 20px;
    position: relative;
  }

  .footer-address {
    margin-top: 25px;
  }

  .footer-bottom .left,
  .footer-bottom .right {
    float: none;
    text-align: center;
  }

  .footer-bottom p {
    margin-bottom: 10px;
  }
  .footer-bottom a {
    display: block;
    margin: 0 auto;
  }

  .bottom-part-left-wrap span {
    font-size: 12px;
  }

  .bottom-part-left-wrap img {
    margin-top: 25px;
    width: 27px;
    margin-bottom: 30px;
  }

  #section-3 .form .btn {
    margin: 0 0 0 10px;
  }

  #section-3 .btn::before {
    display: none;
  }

  .tab-content-first {
    margin-bottom: 0;
  }

  .application-images-wrap .pattern {
    width: 350px;
    left: 0;
    top: -466px;
  }

  .box-modal {
    width: 350px;
  }

  .header-company-desc {
    margin-top: 0;
    margin-left: -20px;
    line-height: 14px;
    font-size: 8px;
    padding-left: 7px;
  }

  .form-wrap {
    width: 100%;
  }

  .numbers-wrap a {
    font-size: 11px;
  }

  .header-call-wrap {
    width: 100%;
    height: 30px;
  }

  .header-call-wrap a {
    line-height: 30px;
    font-size: 8px;
  }

  .numbers-wrap span {
    width: 35px;
    height: 35px;
    background-size: contain;
    position: absolute;
    left: 50px;
    top: 30px;
  }

  .numbers-wrap span::before {
    background-size: contain;
    width: 75px;
    height: 75px;
    left: -20px;
    top: -22px;
  }

  .numbers-wrap span::after {
    background-size: contain;
    width: 50px;
    height: 50px;
    left: -7px;
    top: -8px;
    display: block;
  }

  .header-call-wrap.right {
    margin-top: 25px;
  }

  .advantages-black-wrap-1 ul {
    margin-bottom: 85px;
  }

  header::before {
    display: block;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    width: 75px;
    height: 75px;
    top: 1px;
    left: 27px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    width: 55px;
    height: 55px;
    top: 12px;
    left: 38px;
  }

  .mobile-anim {
    width: 100%;
  }

  .advantages-list li {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .advantages-list {
    width: 80%;
    margin-bottom: 60px;
  }

  #section-3 .section-bottom-part h2 {
    margin-bottom: 15px;
  }

  #section-4 .btn,
  #section-1 .btn {
    margin-left: 40px;
  }

  footer::before {
    width: 100px;
    bottom: 115px;
  }

  header .numbers-wrap span {
    left: -18px;
    top: 20px;
    height: 20px;
    width: 20px;
  }

  header .numbers-wrap span::before {
    width: 55px;
    height: 55px;
    left: -18px;
    top: -20px;
  }

  header .numbers-wrap span::after {
    width: 35px;
    height: 35px;
  }

  footer {
    background: url(../img/body-bg.jpg) 50%;
  }

  #section-4 h2,
  #section-3 h3,
  #section-1 h2 {
    margin-bottom: 15px;
  }
  #section-1 .white-wrap,
  #section-4 .white-wrap {
    height: 100%;
  }

  #section-4 .tab-content-first {
    padding-bottom: 0;
  }

  #section-3 .form-wrap h3 {
    font-size: 12px;
  }

  #section-4 .bottom-part-left-wrap::before {
    left: -15px;
  }

  .header-top::before {
    display: block;
  }

  #popup-form-3 .form-wrap {
    padding-bottom: 75px;
  }
}

@media(max-width: 375px) {
  .header-logo,
  .header-logo:hover {
    font-size: 7px;
  }

  #section-4 .bottom-part-left-wrap::before {
    left: -45px;
  }

  #section-4 .btn,
  #section-1 .btn {
    margin-left: 0;
  }

  #section-4 #tab-4 .tab-content-item {
    margin-bottom: 55px;
  }

  #section-4 .tab-item {
    font-size: 8px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    left: 30px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    left: 19px;
  }

  .bottom-part-left-wrap img {
    margin-bottom: 35px;
  }

  .header-bottom:before {
    width: 180%;
    top: 820px;
  }

  .advantages-black-wrap-1 ul {
    margin-bottom: 50px;
  }

  .numbers-wrap span {
    left: 20px;
  }

  .header-company-desc {
    margin-top: 0;
    margin-left: -30px;
  }

  .bottom-part-left-wrap {
    margin-bottom: 50px;
  }

  #section-2 {
    margin-top: -370px;
  }

  .advantages-list {
    width: 80%;
  }

  #section-4 .white-wrap {
    height: 100%;
    padding-bottom: 0;
  }

  footer .white-wrap {
    margin-top: -800px;
  }

  #section-1 .tabs-wrap,
  .tabs-content-wrap,
  .tab-content-first {
    margin-bottom: 0;
  }

  .tab-content-item {
    margin-bottom: 0;
  }

  .tabs-content-wrap-descr {
    margin-bottom: 20px;
  }

  .form .btn {
    margin-left: 70px;
  }

  #section-4 {
    margin-top: -84px;;
  }

  #section-4 .tab-content-item {
    margin-bottom: 25px;
  }

  .bottom-part-left-wrap span {
    font-size: 10px;
  }

  .advantages-wrap {
    margin-bottom: 40px;
  }

  .box-modal {
    width: 315px;
  }

  .btn::before {
    display: none;
  }

  .form .btn {
    width: 100%;
    margin: 0;
  }

  .box-modal .arcticmodal-close {
    top: -10px;
  }

  .popup-form-4 .form-wrap {
    padding-bottom: 95px;
  }

  .header-call-wrap a {
    font-size: 7px;
  }

  .advantages-black-wrap-1 li {
    margin-bottom: 20px;
  }

  header .btn {
    font-size: 10px;
    padding: 15px 10px 15px 45px;
    width: 100%;
  }

  header .btn::after {
    left: 15px;
  }
  #tab-1 .tab-content-item,
  .tab-content-item a {
    min-height: 177px;
  }

  #section-1 .bottom-part-left-wrap::before {
    left: -30px;
  }

  #section-1 .btn {
    margin: 0;
  }

  #section-1 h2 {
    margin-bottom: 15px;
  }

  #section-4 .form-wrap {
    padding-bottom: 430px;
  }

  #section-1 .form-wrap,
  #section-4 .form-wrap {
     margin-left: 1em
  }

  #section-3 .form input {
    margin-bottom: 15px;
  }

  #section-3 .checkbox-container {
    margin-bottom: 15px;
  }

  .jobs-descr-wrap .btn {
    font-size: 9px;
  }
}

@media(max-width: 320px) {

  .numbers-wrap.left {
    margin-bottom: 40px;
  }

  .header-top {
    margin-bottom: 70px;
  }

  .advantages-black-wrap-1 {
    padding: 85px 20px 65px 80px;
  }

  header .btn::after {
    left: 15px;
  }

  header .download-price {
    margin-left: 0;
  }

  .tab-content-item a {
    min-height: 130px;
  }

  .bottom-part-left-wrap img {
    margin-bottom: 35px;
  }

  .form .btn {
    padding: 10px 15px 10px 45px;
    margin: 0;
    width: 100%;
  }

  .btn::before {
    display: none;
  }

  #section-1 .form input {
    margin-bottom: 15px;
  }

  .bottom-part-left-wrap {
    margin-bottom: 40px;
  }

  #section-1 {
    padding-bottom: 415px;
  }

  #section-2 {
    margin-top: -380px;
  }

  .jobs-descr-item p.left {
    width: 46%;
  }

  .jobs-descr-item p.right {
    width: 52%;
  }

  .main-slider-wrap .slick-prev,
  .main-slider-wrap .slick-next {
    bottom: -50px;
  }

  .advantages-list {
    width: 75%;
  }

  #form-2 .file-upload {
    height: 50px;
  }

  #section-3 .form input {
    margin-bottom: 15px;
  }

  #section-3 .form .btn {
    font-size: 10px;
  }

  #section-4 .white-wrap {
    margin-top: 20px;
  }

  .bottom-part-left-wrap span {
    font-size: 10px;
  }

  #form-3 input {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 0;
  }

  #section-4 .form input {
    margin-bottom: 10px;
  }

  footer .white-wrap {
    height: 930px;
    margin-top: -820px;
  }

  .box-modal .form-wrap {
    width: 100%;
    background-size: contain;
    padding: 35px 25px;
    height: 385px;
  }

  .box-modal {
    width: 280px;
  }

  .box-modal .form input {
    margin-bottom: 25px;
    padding: 0 0 5px;
    font-size: 14px;
    width: 90%;
    margin: 0 auto 15px;
  }

  .box-modal .form h1::before.btn {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  h1 {
    padding-left: 0;
  }

  #section-1 .form-wrap,
  #section-4 .form-wrap {
    padding: 25px 15px 45px 15px;
  }

  .form-head-descr {
    font-size: 14px;
  }

  #section-1 h3 {
    margin-bottom: 5px;
  }

  .form span,
  .checkbox-container {
    font-size: 12px;
  }

  .form input {
    font-size: 19px;
  }

  #section-3 .form-wrap h3 {
    font-size: 12px;
  }

  #section-3 .form .btn {
    margin: 0;
  }

  #form-2 .btn {
    padding: 10px 28px 7px 58px;
  }

  #section-3 {
    padding-bottom: 0;
  }

  #section-4 .form-wrap {
    padding: 30px 20px 450px 20px;
  }

  .checkbox-container {
    margin-bottom: 25px;
  }

  #popup-form-3 .form-wrap {
    padding-top: 30px;
  }

  .box-modal .arcticmodal-close {
    right: -15px;
    top: -25px;
  }

  #form-4 input {
    margin-bottom: 15px;
  }

  .tank-icon {
    height: 60px;
    width: 60px;
  }

  .thank-page-top {
    font-size: 16px;
  }

  .thank-page-bottom {
    font-size: 14px;
  }

  #form-2 .btn {
    width: 100%;
    margin-top: 15px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::after {
    left: 20px;
  }

  .bottom-part-left-wrap .bottom-part-img-wrap::before {
    left: 10px;
  }

  #section-1 .bottom-part-left-wrap::before {
    left: -75px;
  }

  #section-1 .form-wrap,
  #section-4 .form-wrap {
    width: 250px;
  }

  #section-1 .form-wrap .btn {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  #section-2 .white-wrap {
    height: 820px;
  }

  #form-2 .btn::after {
    background-size: contain;
    width: 21px;
    top: 68%;
  }

  #section-4 .tab-item {
    font-size: 7px;
  }

  #section-4 .white-wrap {
    height: 1020px;
  }

  footer .numbers-wrap span {
    left: 0;
  }

  footer::before {
    width: 80px;
    bottom: 150px;
  }

  header .numbers-wrap span {
    display: none;
  }
  .header-call-wrap.right {
    margin-top: 5px;
  }

  #section-1 .bottom-part-left-wrap::before,
  #section-4 .bottom-part-left-wrap::before {
    left: -80px;
  }

  #section-3 .form-wrap {
    padding-bottom: 55px;
  }

  #section-4 {
    margin-top: -74px;
  }

  #section-1 #tab-1 .btn {
    padding-top: 14px;
  }
}
